*.o
*.lo
*.a
*.la
*.in
.deps/
.libs/
Makefile
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/notes
/stamp-h1
/src/praat
